.venv/
.ipynb_checkpoints/

# adding the distance matrix to the gitignore for size reasons
data/raw/distance_matrix/matriz_distancias.csv
data/processed/distance_matrix.csv
data/processed/distance_matrix.p
data/raw/power/UCBT_PJ.csv

.~lock*
